.department-detail(layout='row')
  span(flex='')
  div(layout='column')
    h1 Here are the details of the department
    form.md-whiteframe-z1(name='form', ng-submit='save()', layout-padding='')
      md-input-container
        label Name
        input(ng-model='department.name', placeholder='Name')
      md-input-container
        label Description
        input(ng-model='department.description', placeholder='Description')
      div(layout='row')
        input.md-button(type='submit', value='Save')
        md-button(ng-click='reset()') Reset
        md-button(ng-href='/department') Cancel
  span(flex='')