.admindashboard(layout='row')
  span(flex='')
  div(layout='row', layout-padding='')
    h1 Admin Dashboard
    md-input-container
      h3 User Management

      a(href='/manageemployee') Manage Employee
      a(href='/organization') Manage Organization 

    md-input-container
      h3 List Data Management
      a(href='/department') Manage Department
      a(href='/designation') Manage Designation
      a(href='/project') Add Project
      a(href='/leave') Show Leave Request
      a(href='/timesheet') Show Time Sheet
  
  span(flex='')