.leave(layout='row')
  span(flex='') 
    table
      tr
        th Start Date
        th End Date
        th Leave Reason
        th Employee
      tr(ng-repeat='leaveRequest in leaveRequest')
        td {{leaveRequest.startDate | date:'fullDate'}}
        td {{leaveRequest.endDate | date:'fullDate'}}
        td {{leaveRequest.leaveReason}}
        td {{leaveRequest.user}}
    a(ng-href='/admin-dashboard') Back
   span(flex='')