.leave(layout='row')
  span(flex='') 
    table
      tr
        th Start Date
        th End Date
        th Leave Reason
        th Employee
      tr(ng-repeat='leaveRequest in leaveRequest')
        td {{leaveRequest.startDate}}
        td {{leaveRequest.endDate}}
        td {{leaveRequest.leaveReason}}
        td {{leaveRequest.user}}