md-content(layout='row')
      span(flex='')
      md-whiteframe(layout='column', flex='50')
        div(layout='row', layout-align='space-around center')
          div Login with:
          md-button Twitter
          md-button Facebook
        .md-warn(ng-show='error')
          small {{ error }}
        form(layout='column')
          md-input-container
            md-icon(md-svg-icon='content:ic_mail_24px')
            input(type='text', ng-model='credentials.email', placeholder='email', aria-label='email')
          md-input-container
            md-icon(md-svg-icon='action:ic_lock_open_24px')
            input(type='password', ng-model='credentials.password', placeholder='password', aria-label='password')
          md-button.md-raised.md-primary(ng-click='login()', aria-label='login')
            | Sign In
        div(layout='row', layout-align='space-around center')
          a(href='/forgot') Forgot password?
          a(href='/register') Create an account
      span(flex='')
