.main(layout='column')
  div(layout="row" layout-align="end start")
    div(layout-align='space-between')
      i.fa.fa-sign-in.fa-2x
      i.fa.fa-twitter.fa-2x(style='color:Cyan')
      i.fa.fa-facebook.fa-2x(style='color:Blue')
  div(layout='column', layout-align='center center')
    div(layout='row', layout-align='center center')
      h2(style="font-style:italic; color: blue") Welcome to 
      img(ng-src="logo.jpg")
  span(flex='')      
  md-whiteframe-11dp(layout='row', layout-align='center center')
    .md-warn(ng-show='error')
      small {{ error }}
    form(layout='column')
      h2 Sign-In 
        i.fa.fa-lock
      div(style="width:300px")
        .md-whiteframe-17dp
          md-input-container
            md-icon(md-svg-icon='content:ic_mail_24px')
            label email
            input(type='text', ng-model='credentials.email', aria-label='email')
          md-input-container
            md-icon(md-svg-icon='action:ic_lock_open_24px')
            label password
            input(type='password', ng-model='credentials.password', aria-label='password')
          md-button.md-raised.md-primary(ng-click='login()', aria-label='login')
            | Sign In
    div(layout='column', layout-align='space-between center')
      a(href='/forgot') Forgot password?
      br
      h3 OR
      br
      a(href='/register') 
        md-button.md-raised.me-primary Create an account
  span(flex='')
