.employeemanagement(layout='row')
    span(flex='')  
      h1 User Management
      md-whiteframe(layout='column', flex='50')
          div(layout='row', layout-align='space-around center')
            div Add Employee
          .md-warn(ng-show='error')
            small {{ error }}
          form(layout='column' id="registerForm" name='form')
            md-input-container
              md-icon(md-svg-icon='content:ic_mail_24px')
              input(type='text', ng-model='newUser.firstname', placeholder='First Name')
            md-input-container
              md-icon(md-svg-icon='content:ic_mail_24px')
              input(type='text', ng-model='newUser.middlename', placeholder='Middle Name')
            md-input-container
              md-icon(md-svg-icon='content:ic_mail_24px')
              input(type='text', ng-model='newUser.lastname', placeholder='Last Name')
            md-input-container
              md-icon(md-svg-icon='content:ic_mail_24px')
              input(type='text', ng-model='newUser.mobile', placeholder='Mobile Number')
            md-input-container
              md-icon(md-svg-icon='content:ic_mail_24px')
              textarea(type='text', ng-model='newUser.home', placeholder='Home Number')
            md-input-container
              md-icon(md-svg-icon='content:ic_mail_24px')
              textarea(type='text', ng-model='newUser.address', placeholder='Address')
            md-input-container
              md-icon(md-svg-icon='content:ic_mail_24px')
              input(type='text', ng-model='newUser.email', placeholder='Primary Email')
            md-input-container
              md-icon(md-svg-icon='content:ic_mail_24px')
              input(type='text', ng-model='newUser.secondryemail', placeholder='Secondary Email')
            md-input-container
              md-icon(md-svg-icon='action:ic_lock_open_24px')
              input(type='password', ng-model='newUser.password', placeholder='password')
            md-button.md-raised.md-primary(ng-click='register()')
              | Create Account
    
      table
        th S.N
        th 
          a(href='#', ng-click="sortType = 'name'; sortReverse = !sortReverse") Name
        th 
          a(href='#', ng-click="sortType = 'contact'; sortReverse = !sortReverse") Address
        th 
          a(href='#', ng-click="sortType = 'address'; sortReverse = !sortReverse") Contact
        th 
          a(href='#', ng-click="sortType = 'email'; sortReverse = !sortReverse") Email Address
        th 
          a(href='#', ng-click="sortType = 'secondaryemail'; sortReverse = !sortReverse") SecondaryEmail Address
        th Operation
        tr(dir-paginate='user in users | orderBy:sortType:sortReverse | itemsPerPage: perPage', total-items='usersCount.count',  current-page='page')
          td{{$index+1}}
          td{{user.profile[0].firstname }} {{user.profile[0].middlename}} {{user.profile[0].lastname}}
          td {{user.profile[0].address}}
          td {{user.profile[0].mobile}}{{}} {{user.profile[0].home}}
          td {{user.emails[0].address}}
          td {{user.profile[0].secondaryemail}}
          td 
            a(href='/manageemployeeEdit/{{user._id}}')="Edit"
            a(href='/reset-password/{{user._id}}')='Reset Password'
            button(ng-click='remove(user._id)') Deleted
      a(href='/admin-dashboard') Back


    span(flex='')
        
