html
  body
    md-content(layout='row')
      span(flex='')
      md-whiteframe(layout='column', flex='50')
        div(layout='row', layout-align='space-around center')
          div Edit
        form(layout='column')
          md-input-container
            md-icon(md-svg-icon='content:ic_mail_24px')
            label First Name
            input(type='text', ng-model='firstname', arial-label='First Name')
          md-input-container
            md-icon(md-svg-icon='content:ic_mail_24px')
            label Middle Name
            input(type='text', ng-model='middlename', arial-label='Middle Name')
          md-input-container
            md-icon(md-svg-icon='content:ic_mail_24px')
            label Last Name
            input(type='text', ng-model='lastname', arial-label='Last Name')
          md-input-container
            md-icon(md-svg-icon='content:ic_mail_24px')
            label Designation
            md-select(ng-model='empdesignation', placeholder='Select Designation')
              md-option(ng-value='designation.name', ng-repeat='designation in designation') {{ designation.name }}
          md-input-container
            md-icon(md-svg-icon='content:ic_mail_24px')
            label Department
            md-select(ng-model='empdepartment', placeholder='Select Department')
              md-option(ng-value='department.name', ng-repeat='department in department') {{ department.name }}
          md-input-container
            md-icon(md-svg-icon='content:ic_mail_24px')
            label Mobile Number
            input(type='text', ng-model='mobile', arial-label='Mobile Number')
          md-input-container
            md-icon(md-svg-icon='content:ic_mail_24px')
            label Home Number
            textarea(type='text', ng-model='home', arial-label='Home Number')
          md-input-container
            md-icon(md-svg-icon='content:ic_mail_24px')
            label Address
            textarea(type='text', ng-model='address', arial-label='Address')
          md-input-container
            md-icon(md-svg-icon='content:ic_mail_24px')
            label Primary Email
            input(type='text', ng-model='email', arial-label='Primary Email')
          md-input-container
            md-icon(md-svg-icon='content:ic_mail_24px')
            label Secondary Email
            input(type='text', ng-model='secondaryemail', arial-label='Secondary Email')
          div(layout='row', layout-align='end center')
            input.md-button(type='submit', value='Save' ng-click='save()')
            a(ng-href='/reset') Reset
            md-button(ng-href='/manageemployee') Cancel
      span(flex='')