.reset-password(layout='row')
  span(flex='')
  form.md-whiteframe-z1(name='form', novalidate='', layout-padding='')
    h1 Reset Password
    p Enter Email
      md-input-container
        label New Password
        input(ng-model='newPlaintextPassword', placeholder='New Password' required='')
      md-input-container     
      br
      input.md-button(ng-click='resetpw()', value='reset')
      button(ng-click='cancel()') Cancel

    a(href='/manageemployee') Back

  span(flex='')